.product-listing-container{
    padding: 2.25rem;
}
.search-component{
    display: flex;
    justify-content: center;
}
.product-listing-content{
    display: flex;
    margin: 2rem;
}
.products-grid{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}