.product-listing-container{
    padding: 2.25rem;
}
.product-listing-content{
    display: flex;
}
.products-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}