.product-listing-container{
    padding: 2.25rem;
}
.product-listing-content{
    display: flex;
}
.products-grid{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
}