.product-card-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    width: 170px;
}
.heart-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: red;
}
.product-image{
    width: 170px;
    height: 220px;
    background-position: center;
    background-size: cover;
    align-self: center;
}
.product-title{
    font-weight: 500;
}
.old-price{
    color: grey;
    text-decoration: line-through;
}
.new-price{
    color: dodgerblue;
    font-weight: 500;
}